/vendor
/node_modules
/cloudfunctions/ARDemo/cloud-functions-tools/test/svrkit-utils/example
/cloudfunctions/ARDemo/wx-server-sdk-wxg-service/index.js
/miniprogram/packageSkylineExamples
/miniprogram/_commons/0.js
/miniprogram/packageAPI/pages/ar/3dmarker-ar/protobuf
/miniprogram/packageAPI/components/tdesign-miniprogram
/miniprogram/packageAPI/pages/ar/gaussian-splatting/util/gl-matrix-min.js
/miniprogram/packageChatTool/components/tdesign-miniprogram