var utils = require('../common/utils.wxs');

function getColStyles(gutter, style, customStyle) {
  var _style = '';
  if (gutter) {
    _style = utils._style({
      'padding-right': utils.addUnit(gutter / 2),
      'padding-left': utils.addUnit(gutter / 2),
    });
  }

  return utils._style([style, customStyle]) + _style;
}

module.exports = {
  getColStyles: getColStyles,
};
