.tab-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-center-cnt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tab-list {
  display: flex;
  flex-direction: row;
  margin: 5px 24px 0;

  .tab-item {
    .row-center-cnt;

    position: relative;
    flex: 1;
    height: 50px;
    border-bottom: 0.5px solid white;
  }

  .tab-border {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color:  #07c160; // #D0BB8E;

    width: 33.33%;
    transform: scaleX(0.7);
    z-index: 1;
  }

  .icon-gallery {
    width: 22px;
    height: 22px;
  }

  .icon-media {
    width: 22px;
    height: 18px;
  }

  .icon-souvenir {
    width: 18px;
    height: 20px;
  }
}

.scroll-list {
  flex: 1;
  width: 100%;
  overflow: hidden;
  &.img-list {
    padding: 12px 0 0;
  }

  .line {
    padding: 20px 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .img-line {
    padding: 0;
    justify-content: flex-start;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    max-width: 43vw;
  }

  .cover {
    width: 43vw;
    height: 43vw;
    border-radius: 10px;
  }

  .cover-default {
    background-color: rgba(73, 73, 73, 0.6);
  }

  .name {
    .ellipsis;

    margin-top: 15px;
    font-size: 16px;
  }

  .img-wrapper {
    position: relative;
  }

  .mark-3d {
    position: absolute;
    right: 7px;
    bottom: 7px;
    width: 20px;
    height: 18px;
  }

  .duration {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }

  .mark-unlocked {
    position: absolute;
    width: 20px;
    height: 28px;
    z-index: 100;
  }

  .mask {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    display: block;
    background-color: #D8D8D8; //transparent;
    opacity: 0.75;
  }
}

.empty {
  .row-center-cnt;

  width: 100%;
  flex: 1;
}

.item-image {
  // display: flex;
  // align-content: center;
  // justify-content: center;
  // text-align: center;
  margin: 30px 0 0 30px;
}
.item-title {
  padding: 10px 10px 5px 30px;
  font-size: 18px;
  width: 100%;
}
.item-desc {
  padding: 5px 10px 0 30px;
  width: 100%;
  color: var(--weui-FG-1)
}